[flake8]
max-line-length = 120
docstring-convention=numpy

# Plugin: flake8-quotes
inline-quotes = double

extend-select = A00, B, B9, PT, Q0, SIM

# TODO: Add more!!!
                # General
extend-ignore = E203, E704

                # Plugin: flake8-bugbear
                B950,

                D401

per-file-ignores =
    src/BAET/cli/cli.py: D400, D407, D301, D205
    src/BAET/cli/commands/extract.py: D400, D407, D301, D205
    src/BAET/cli/commands/probe.py: D400, D407, D301, D205
